body {
    background-color: #a3edb6;
}

.custom-label{
    min-width: 13rem;
    max-width: 20rem;
}

.dropdown{
    min-width: 10rem;
    max-width: 13rem;
}

.sub_button{
    min-width: 10rem;
    max-width: 13rem;
}

textarea.form-control {
    min-height: 5rem; /* adjust as needed */
}