body {
    background-color: #a3edb6;
}

.sub_button{
    min-width: 10rem;
    max-width: 13rem;
}

textarea.form-control {
    min-height: 5rem; /* adjust as needed */
}

.form-select{
    min-width: 10rem;
    max-width: 13rem;
}   